<a href="https://colab.research.google.com/github/Alexsinator/Challenge_Alura_Store_Alex/blob/main/TelecomX_LATAM_Parte_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
datos = pd.read_csv('/content/datos_tratados.csv')

# Lectura de los datos

In [3]:
datos

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
0,0002-ORFBO,No,Female,No,Yes,Yes,9,Yes,No,DSL,...,No,Yes,Yes,No,One year,Yes,Mailed check,65.60,593.30,2.186667
1,0003-MKNFE,No,Male,No,No,No,9,Yes,Yes,DSL,...,No,No,No,Yes,Month-to-month,No,Mailed check,59.90,542.40,1.996667
2,0004-TLHLJ,Yes,Male,No,No,No,4,Yes,No,Fiber optic,...,Yes,No,No,No,Month-to-month,Yes,Electronic check,73.90,280.85,2.463333
3,0011-IGKFF,Yes,Male,Si,Yes,No,13,Yes,No,Fiber optic,...,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,98.00,1237.85,3.266667
4,0013-EXCHZ,Yes,Female,Si,Yes,No,3,Yes,No,Fiber optic,...,No,Yes,Yes,No,Month-to-month,Yes,Mailed check,83.90,267.40,2.796667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

In [4]:
datos.shape

(7043, 22)

In [5]:
datos.describe()

,customer.tenure,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
count,7043.000000,7043.000000,7032.000000,7043.000000
mean,32.371149,64.761692,2283.300441,2.158723
std,24.559481,30.090047,2266.771362,1.003002
min,0.000000,18.250000,18.800000,0.608333
25%,9.000000,35.500000,401.450000,1.183333
50%,29.000000,70.350000,1397.475000,2.345000
75%,55.000000,89.850000,3794.737500,2.995000
max,72.000000,118.750000,8684.800000,3.958333

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 22 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   customerID                 7043 non-null   object
 1   Churn                      7043 non-null   object
 2   customer.gender            7043 non-null   object
 3   customer.SeniorCitizen     7043 non-null   object
 4   customer.Partner           7043 non-null   object
 5   customer.Dependents        7043 non-null   object
 6   customer.tenure            7043 non-null   int64
 7   phone.PhoneService         7043 non-null   object
 8   phone.MultipleLines        7043 non-null   object
 9   internet.InternetService   7043 non-null   object
 10  internet.OnlineSecurity    7043 non-null   object
 11  internet.OnlineBackup      7043 non-null   object
 12  internet.DeviceProtection  7043 non-null   object
 13  internet.TechSupport       7043 non-null   object
 14  internet.StreamingTV       7043 non-null   object
 15  internet.StreamingMovies   7043 non-null   object
 16  account.Contract           7043 non-null   object
 17  account.PaperlessBilling   7043 non-null   object
 18  account.PaymentMethod      7043 non-null   object
 19  account.Charges.Monthly    7043 non-null   float64
 20  account.Charges.Total      7032 non-null   float64
 21  Cuentas_Diarias            7043 non-null   float64
dtypes: float64(3), int64(1), object(18)
memory usage: 1.2+ MB

## AnÃ¡lisis de los datos

In [7]:
datos['phone.MultipleLines'].value_counts()

phone.MultipleLines
No                  3390
Yes                 2971
No phone service     682
Name: count, dtype: int64

In [8]:
datos['internet.InternetService'].value_counts()

internet.InternetService
Fiber optic    3096
DSL            2421
No             1526
Name: count, dtype: int64

In [9]:
datos['internet.OnlineSecurity'].value_counts()

internet.OnlineSecurity
No                     3498
Yes                    2019
No internet service    1526
Name: count, dtype: int64

In [10]:
datos['internet.OnlineBackup'].value_counts()

internet.OnlineBackup
No                     3088
Yes                    2429
No internet service    1526
Name: count, dtype: int64

In [11]:
datos['internet.DeviceProtection'].value_counts()

internet.DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

In [12]:
datos['internet.DeviceProtection'].value_counts()

internet.DeviceProtection
No                     3095
Yes                    2422
No internet service    1526
Name: count, dtype: int64

In [13]:
datos['internet.TechSupport'].value_counts()

internet.TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [14]:
datos['internet.TechSupport'].value_counts()

internet.TechSupport
No                     3473
Yes                    2044
No internet service    1526
Name: count, dtype: int64

In [15]:
datos['internet.StreamingTV'].value_counts()

internet.StreamingTV
No                     2810
Yes                    2707
No internet service    1526
Name: count, dtype: int64

In [16]:
datos['internet.StreamingMovies'].value_counts()

internet.StreamingMovies
No                     2785
Yes                    2732
No internet service    1526
Name: count, dtype: int64

### RevisiÃ³n de consistencia de datos

In [17]:
columnas_a_verificar = ['internet.OnlineSecurity', 'internet.OnlineBackup', 'internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV', 'internet.StreamingMovies']
columna_referencia = 'internet.InternetService'

In [18]:
for columna in columnas_a_verificar:
    inconsistencias = (datos[columna_referencia] == 'Yes') & (datos[columna] == 'No internet service')
    if inconsistencias.any():
        print(f"Inconsistencias encontradas en la columna:  {columna}.")
    else:
        print(f"No se encontraron inconsistencias en la columna {columna}.")

No se encontraron inconsistencias en la columna internet.OnlineSecurity.
No se encontraron inconsistencias en la columna internet.OnlineBackup.
No se encontraron inconsistencias en la columna internet.DeviceProtection.
No se encontraron inconsistencias en la columna internet.TechSupport.
No se encontraron inconsistencias en la columna internet.StreamingTV.
No se encontraron inconsistencias en la columna internet.StreamingMovies.

##Tratamiento de los datos

In [19]:
datos.tail(10)

,customerID,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
7033,9975-SKRNR,No,Male,No,No,No,1,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Mailed check,18.90,18.90,0.630000
7034,9978-HYCIN,No,Male,Si,Yes,Yes,47,Yes,No,Fiber optic,...,No,No,Yes,No,One year,Yes,Bank transfer (automatic),84.95,4018.05,2.831667
7035,9979-RGMZT,No,Female,No,No,No,7,Yes,No,Fiber optic,...,No,No,Yes,Yes,One year,Yes,Mailed check,94.05,633.45,3.135000
7036,9985-MWVIX,Yes,Female,No,No,No,1,Yes,No,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Mailed check,70.15,70.15,2.338333
7037,9986-BONCE,Yes,Female,No,No,No,4,Yes,No,No,...,No internet service,No internet service,No internet service,No internet service,Month-to-month,No,Bank transfer (automatic),20.95,85.50,0.698333
7038,9987-LUTYD,No,Female,No,No,No,13,Yes,No,DSL,...,No,Yes,No,No,One year,No,Mailed check,55.15,742.90,1.838333
7039,9992-RRAMN,Yes,Male,No,Yes,No,22,Yes,Yes,Fiber optic,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,85.10,1873.70,2.836667
7040,9992-UJOEL,No,Male,No,No,No,2,Yes,No,DSL,...,No,No,No,No,Month-to-month,Yes,Mailed check,50.30,92.75,1.676667
7041,9993-LHIEB,No,Male,No,Yes,Yes,67,Yes,No,DSL,...,Yes,Yes,No,Yes,Two year,No,Mailed check,67.85,4627.65,2.261667
7042,9995-HOTOH,No,Male,No,Yes,Yes,63,No,No phone service,DSL,...,Yes,No,Yes,Yes,Two year,No,Electronic check,59.00,3707.60,1.966667

In [20]:
datos = datos.drop('customerID', axis = 1)

In [21]:
# Codigo para no mostrar advertencias sobre el codigo
import warnings

warnings.filterwarnings("ignore")

### CodificaciÃ³n de datos

In [22]:
# Reemplazos a binarios
datos['Churn'] = datos['Churn'].replace({'No': 0, 'Yes':1})
datos['customer.gender'] = datos['customer.gender'].replace({'Male': 0, 'Female': 1})
datos['customer.SeniorCitizen'] = datos['customer.SeniorCitizen'].replace({'No': 0, 'Si': 1})
datos['customer.Partner'] = datos['customer.Partner'].replace({'No': 0, 'Yes':1})
datos['customer.Dependents'] = datos['customer.Dependents'].replace({'No': 0, 'Yes':1})
datos['phone.PhoneService'] = datos['phone.PhoneService'].replace({'No': 0, 'Yes':1})
datos['account.PaperlessBilling'] = datos['account.PaperlessBilling'].replace({'No': 0, 'Yes':1})

In [23]:
datos.sample(10)

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,phone.MultipleLines,internet.InternetService,internet.OnlineSecurity,...,internet.DeviceProtection,internet.TechSupport,internet.StreamingTV,internet.StreamingMovies,account.Contract,account.PaperlessBilling,account.PaymentMethod,account.Charges.Monthly,account.Charges.Total,Cuentas_Diarias
4056,1,0,0,0,0,2,1,No,Fiber optic,No,...,Yes,Yes,No,No,Month-to-month,1,Electronic check,79.85,152.45,2.661667
2341,0,1,1,0,0,16,1,Yes,DSL,Yes,...,No,No,No,No,Month-to-month,1,Electronic check,54.10,889.00,1.803333
6979,0,1,1,0,0,65,0,No phone service,DSL,No,...,Yes,No,Yes,Yes,Two year,1,Bank transfer (automatic),53.50,3517.90,1.783333
4116,0,1,0,1,0,57,1,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,0,Bank transfer (automatic),19.90,1115.60,0.663333
4051,1,0,1,0,0,9,1,Yes,DSL,Yes,...,No,No,No,No,Month-to-month,0,Electronic check,54.55,494.05,1.818333
2314,0,0,0,1,1,28,0,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,One year,0,Mailed check,50.80,1386.80,1.693333
4303,0,0,0,1,1,23,1,No,DSL,Yes,...,No,Yes,No,No,One year,0,Credit card (automatic),57.20,1423.35,1.906667
4756,0,1,0,1,0,70,1,No,DSL,Yes,...,Yes,Yes,Yes,Yes,Two year,0,Credit card (automatic),86.45,5950.20,2.881667
1659,1,1,1,0,0,10,0,No phone service,DSL,No,...,No,No,No,Yes,Month-to-month,1,Electronic check,34.70,329.80,1.156667
899,0,0,0,0,0,24,1,No,Fiber optic,No,...,Yes,No,No,Yes,Month-to-month,1,Electronic check,89.55,2187.15,2.985000

In [24]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Churn                      7043 non-null   int64
 1   customer.gender            7043 non-null   int64
 2   customer.SeniorCitizen     7043 non-null   int64
 3   customer.Partner           7043 non-null   int64
 4   customer.Dependents        7043 non-null   int64
 5   customer.tenure            7043 non-null   int64
 6   phone.PhoneService         7043 non-null   int64
 7   phone.MultipleLines        7043 non-null   object
 8   internet.InternetService   7043 non-null   object
 9   internet.OnlineSecurity    7043 non-null   object
 10  internet.OnlineBackup      7043 non-null   object
 11  internet.DeviceProtection  7043 non-null   object
 12  internet.TechSupport       7043 non-null   object
 13  internet.StreamingTV       7043 non-null   object
 14  internet.StreamingMovies   7043 non-null   object
 15  account.Contract           7043 non-null   object
 16  account.PaperlessBilling   7043 non-null   int64
 17  account.PaymentMethod      7043 non-null   object
 18  account.Charges.Monthly    7043 non-null   float64
 19  account.Charges.Total      7032 non-null   float64
 20  Cuentas_Diarias            7043 non-null   float64
dtypes: float64(3), int64(8), object(10)
memory usage: 1.1+ MB

In [25]:
# Hacer categoricas a nÃºmericas
categoricas = ['account.PaymentMethod', 'phone.MultipleLines', 'internet.InternetService', 'internet.OnlineSecurity',
               'internet.OnlineBackup', 'internet.DeviceProtection', 'internet.TechSupport', 'internet.StreamingTV',
               'internet.StreamingMovies', 'account.Contract']

In [26]:
datos_codificados = pd.get_dummies(datos, columns=categoricas, dtype = int)

In [27]:
datos_codificados.sample(10)

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,account.PaperlessBilling,account.Charges.Monthly,account.Charges.Total,...,internet.TechSupport_Yes,internet.StreamingTV_No,internet.StreamingTV_No internet service,internet.StreamingTV_Yes,internet.StreamingMovies_No,internet.StreamingMovies_No internet service,internet.StreamingMovies_Yes,account.Contract_Month-to-month,account.Contract_One year,account.Contract_Two year
860,0,0,0,1,1,52,1,0,24.80,1229.10,...,0,0,1,0,0,1,0,0,0,1
2840,0,1,0,1,0,64,1,1,99.00,6375.80,...,0,0,0,1,0,0,1,0,0,1
4490,0,1,0,0,0,13,0,1,31.65,389.95,...,0,1,0,0,1,0,0,1,0,0
4110,1,0,1,0,0,33,1,1,83.85,2716.30,...,0,1,0,0,1,0,0,1,0,0
6447,0,1,0,0,0,59,1,0,95.80,5655.45,...,0,0,0,1,0,0,1,0,0,1
631,1,0,0,0,0,7,1,0,74.65,544.55,...,0,1,0,0,1,0,0,1,0,0
1696,1,0,1,1,0,40,1,0,101.85,4086.30,...,0,0,0,1,0,0,1,1,0,0
6162,0,0,0,0,0,41,1,1,74.25,3089.10,...,1,1,0,0,1,0,0,1,0,0
1128,0,0,0,1,0,53,1,0,19.90,1110.05,...,0,0,1,0,0,1,0,0,0,1
4302,0,1,0,0,0,25,1,0,19.90,527.50,...,0,0,1,0,0,1,0,0,1,0

In [28]:
datos_codificados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 42 columns):
 #   Column                                           Non-Null Count  Dtype
---  ------                                           --------------  -----
 0   Churn                                            7043 non-null   int64
 1   customer.gender                                  7043 non-null   int64
 2   customer.SeniorCitizen                           7043 non-null   int64
 3   customer.Partner                                 7043 non-null   int64
 4   customer.Dependents                              7043 non-null   int64
 5   customer.tenure                                  7043 non-null   int64
 6   phone.PhoneService                               7043 non-null   int64
 7   account.PaperlessBilling                         7043 non-null   int64
 8   account.Charges.Monthly                          7043 non-null   float64
 9   account.Charges.Total                            7032 non-null   float64
 10  Cuentas_Diarias                                  7043 non-null   float64
 11  account.PaymentMethod_Bank transfer (automatic)  7043 non-null   int64
 12  account.PaymentMethod_Credit card (automatic)    7043 non-null   int64
 13  account.PaymentMethod_Electronic check           7043 non-null   int64
 14  account.PaymentMethod_Mailed check               7043 non-null   int64
 15  phone.MultipleLines_No                           7043 non-null   int64
 16  phone.MultipleLines_No phone service             7043 non-null   int64
 17  phone.MultipleLines_Yes                          7043 non-null   int64
 18  internet.InternetService_DSL                     7043 non-null   int64
 19  internet.InternetService_Fiber optic             7043 non-null   int64
 20  internet.InternetService_No                      7043 non-null   int64
 21  internet.OnlineSecurity_No                       7043 non-null   int64
 22  internet.OnlineSecurity_No internet service      7043 non-null   int64
 23  internet.OnlineSecurity_Yes                      7043 non-null   int64
 24  internet.OnlineBackup_No                         7043 non-null   int64
 25  internet.OnlineBackup_No internet service        7043 non-null   int64
 26  internet.OnlineBackup_Yes                        7043 non-null   int64
 27  internet.DeviceProtection_No                     7043 non-null   int64
 28  internet.DeviceProtection_No internet service    7043 non-null   int64
 29  internet.DeviceProtection_Yes                    7043 non-null   int64
 30  internet.TechSupport_No                          7043 non-null   int64
 31  internet.TechSupport_No internet service         7043 non-null   int64
 32  internet.TechSupport_Yes                         7043 non-null   int64
 33  internet.StreamingTV_No                          7043 non-null   int64
 34  internet.StreamingTV_No internet service         7043 non-null   int64
 35  internet.StreamingTV_Yes                         7043 non-null   int64
 36  internet.StreamingMovies_No                      7043 non-null   int64
 37  internet.StreamingMovies_No internet service     7043 non-null   int64
 38  internet.StreamingMovies_Yes                     7043 non-null   int64
 39  account.Contract_Month-to-month                  7043 non-null   int64
 40  account.Contract_One year                        7043 non-null   int64
 41  account.Contract_Two year                        7043 non-null   int64
dtypes: float64(3), int64(39)
memory usage: 2.3 MB

In [29]:
datos['Churn'].value_counts(normalize = True) * 100

Churn
0    73.463013
1    26.536987
Name: proportion, dtype: float64

In [30]:
df = datos_codificados
df.sample(10)

,Churn,customer.gender,customer.SeniorCitizen,customer.Partner,customer.Dependents,customer.tenure,phone.PhoneService,account.PaperlessBilling,account.Charges.Monthly,account.Charges.Total,...,internet.TechSupport_Yes,internet.StreamingTV_No,internet.StreamingTV_No internet service,internet.StreamingTV_Yes,internet.StreamingMovies_No,internet.StreamingMovies_No internet service,internet.StreamingMovies_Yes,account.Contract_Month-to-month,account.Contract_One year,account.Contract_Two year
1490,1,1,0,1,0,47,1,1,85.30,4045.65,...,0,1,0,0,0,0,1,1,0,0
2794,0,0,0,0,0,72,1,0,19.30,1414.80,...,0,0,1,0,0,1,0,0,0,1
2188,0,1,0,0,0,63,1,0,98.00,6218.45,...,0,0,0,1,1,0,0,0,0,1
5212,1,1,0,0,0,5,1,1,90.80,455.50,...,0,0,0,1,1,0,0,1,0,0
4332,0,1,0,0,0,29,0,0,39.50,1082.75,...,1,1,0,0,1,0,0,0,1,0
5711,0,0,0,1,1,12,1,1,21.15,306.05,...,0,0,1,0,0,1,0,1,0,0
5798,0,0,0,1,1,66,0,1,56.75,3708.40,...,0,0,0,1,0,0,1,0,0,1
4268,0,0,0,1,0,70,1,0,25.15,1940.85,...,0,0,1,0,0,1,0,0,0,1
597,1,1,0,0,0,9,1,1,79.55,723.40,...,0,1,0,0,0,0,1,1,0,0
1039,1,1,0,0,0,58,1,1,106.45,6145.85,...,0,0,0,1,0,0,1,0,1,0

In [31]:
df.isna().sum().sort_values(ascending = False)

account.Charges.Total                              11
Churn                                               0
customer.gender                                     0
customer.SeniorCitizen                              0
customer.Dependents                                 0
customer.Partner                                    0
customer.tenure                                     0
phone.PhoneService                                  0
account.PaperlessBilling                            0
account.Charges.Monthly                             0
Cuentas_Diarias                                     0
account.PaymentMethod_Bank transfer (automatic)     0
account.PaymentMethod_Credit card (automatic)       0
account.PaymentMethod_Electronic check              0
account.PaymentMethod_Mailed check                  0
phone.MultipleLines_No                              0
phone.MultipleLines_No phone service                0
phone.MultipleLines_Yes                             0
internet.InternetService_DSL                        0
internet.InternetService_Fiber optic                0
internet.InternetService_No                         0
internet.OnlineSecurity_No                          0
internet.OnlineSecurity_No internet service         0
internet.OnlineSecurity_Yes                         0
internet.OnlineBackup_No                            0
internet.OnlineBackup_No internet service           0
internet.OnlineBackup_Yes                           0
internet.DeviceProtection_No                        0
internet.DeviceProtection_No internet service       0
internet.DeviceProtection_Yes                       0
internet.TechSupport_No                             0
internet.TechSupport_No internet service            0
internet.TechSupport_Yes                            0
internet.StreamingTV_No                             0
internet.StreamingTV_No internet service            0
internet.StreamingTV_Yes                            0
internet.StreamingMovies_No                         0
internet.StreamingMovies_No internet service        0
internet.StreamingMovies_Yes                        0
account.Contract_Month-to-month                     0
account.Contract_One year                           0
account.Contract_Two year                           0
dtype: int64

In [32]:
df = df.dropna(subset=['account.Charges.Total'])

### Train y Test

In [33]:
from sklearn.model_selection import train_test_split

X = df.drop(['Churn'], axis =1)
y = df['Churn']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)

In [34]:
print('Conteo de clases en y_train')
print(y_train.value_counts())

print('\nProporciÃ³n de clases en y_train')
print(y_train.value_counts(normalize= True))

Conteo de clases en y_train
Churn
0    4143
1    1482
Name: count, dtype: int64

ProporciÃ³n de clases en y_train
Churn
0    0.736533
1    0.263467
Name: proportion, dtype: float64

In [35]:
df.isna().sum().sort_values(ascending = False)

Churn                                              0
customer.gender                                    0
customer.SeniorCitizen                             0
customer.Partner                                   0
customer.Dependents                                0
customer.tenure                                    0
phone.PhoneService                                 0
account.PaperlessBilling                           0
account.Charges.Monthly                            0
account.Charges.Total                              0
Cuentas_Diarias                                    0
account.PaymentMethod_Bank transfer (automatic)    0
account.PaymentMethod_Credit card (automatic)      0
account.PaymentMethod_Electronic check             0
account.PaymentMethod_Mailed check                 0
phone.MultipleLines_No                             0
phone.MultipleLines_No phone service               0
phone.MultipleLines_Yes                            0
internet.InternetService_DSL                       0
internet.InternetService_Fiber optic               0
internet.InternetService_No                        0
internet.OnlineSecurity_No                         0
internet.OnlineSecurity_No internet service        0
internet.OnlineSecurity_Yes                        0
internet.OnlineBackup_No                           0
internet.OnlineBackup_No internet service          0
internet.OnlineBackup_Yes                          0
internet.DeviceProtection_No                       0
internet.DeviceProtection_No internet service      0
internet.DeviceProtection_Yes                      0
internet.TechSupport_No                            0
internet.TechSupport_No internet service           0
internet.TechSupport_Yes                           0
internet.StreamingTV_No                            0
internet.StreamingTV_No internet service           0
internet.StreamingTV_Yes                           0
internet.StreamingMovies_No                        0
internet.StreamingMovies_No internet service       0
internet.StreamingMovies_Yes                       0
account.Contract_Month-to-month                    0
account.Contract_One year                          0
account.Contract_Two year                          0
dtype: int64

In [36]:
df.shape

(7032, 42)

In [41]:
df.max()

Churn                                                 1.000000
customer.gender                                       1.000000
customer.SeniorCitizen                                1.000000
customer.Partner                                      1.000000
customer.Dependents                                   1.000000
customer.tenure                                      72.000000
phone.PhoneService                                    1.000000
account.PaperlessBilling                              1.000000
account.Charges.Monthly                             118.750000
account.Charges.Total                              8684.800000
Cuentas_Diarias                                       3.958333
account.PaymentMethod_Bank transfer (automatic)       1.000000
account.PaymentMethod_Credit card (automatic)         1.000000
account.PaymentMethod_Electronic check                1.000000
account.PaymentMethod_Mailed check                    1.000000
phone.MultipleLines_No                                1.000000
phone.MultipleLines_No phone service                  1.000000
phone.MultipleLines_Yes                               1.000000
internet.InternetService_DSL                          1.000000
internet.InternetService_Fiber optic                  1.000000
internet.InternetService_No                           1.000000
internet.OnlineSecurity_No                            1.000000
internet.OnlineSecurity_No internet service           1.000000
internet.OnlineSecurity_Yes                           1.000000
internet.OnlineBackup_No                              1.000000
internet.OnlineBackup_No internet service             1.000000
internet.OnlineBackup_Yes                             1.000000
internet.DeviceProtection_No                          1.000000
internet.DeviceProtection_No internet service         1.000000
internet.DeviceProtection_Yes                         1.000000
internet.TechSupport_No                               1.000000
internet.TechSupport_No internet service              1.000000
internet.TechSupport_Yes                              1.000000
internet.StreamingTV_No                               1.000000
internet.StreamingTV_No internet service              1.000000
internet.StreamingTV_Yes                              1.000000
internet.StreamingMovies_No                           1.000000
internet.StreamingMovies_No internet service          1.000000
internet.StreamingMovies_Yes                          1.000000
account.Contract_Month-to-month                       1.000000
account.Contract_One year                             1.000000
account.Contract_Two year                             1.000000
dtype: float64

### Escalado de valores

In [42]:
columnas_valores_altos = ['customer.tenure', 'account.Charges.Monthly', 'account.Charges.Total', 'Cuentas_Diarias']

In [46]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_escalado = scaler.fit_transform(X_train[columnas_valores_altos])

X_test_escalado = scaler.transform(X_test[columnas_valores_altos])

In [48]:
X_train_scaled = X_train.copy()
X_test_scaled = X_test.copy()

X_train_scaled.loc[:,columnas_valores_altos] = X_train_escalado
X_test_scaled.loc[:,columnas_valores_altos] = X_test_escalado

### SMOTE

In [51]:
from imblearn.over_sampling import SMOTE
from collections import Counter

Counter((y_train))

Counter({0: 4143, 1: 1482})

In [52]:
smote = SMOTE (random_state=50)
X_train_smote, y_train_smote = smote.fit_resample(X_train_scaled, y_train)

Counter((y_train_smote))

Counter({0: 4143, 1: 4143})